<!DOCTYPE html>
<html>
<head>
  <title>HwDay27</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


  <nav class="navbar">
    <div class="nav">
      <%= link_to "Home", root_path%>
        <%= link_to "Sign Out", sign_out_path, method: :delete %>

    </div>
  </nav>

  <% if @current_user.present? %>
    <h4> Hello <%= @current_user.username %></h4>
      <% end %>
      <% if alert %>
        <div class="alert alert-success" role="alert"> <%= alert %> </div>
      <% end %>


<%= yield %>

</body>

</html>
